KiCad-BlackMaskBlackSilk/*
KiCad/bom/*
KiCad/freerouting.ses
KiCad/logs/*
KiCad/MBC5_Flashcart-backups/*
KiCad/Push2OSHPark/*
KiCad/MBC5_Flashcart_P2O.zip
KiCad/MBC5_Flashcart.wrl
KiCad/MBC5_Flashcart.ses
KiCad/MBC5_Flashcart.round-tracks-config
KiCad/MBC5_Flashcart.kicad_prl
KiCad/MBC5_Flashcart.dsn
KiCad/Gerbers/*
KiCad/fp-info-cache
